/*--------- FONTS--------- */
@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-bold-italic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/arial/arial-regular.ttf);
  font-weight: 400;
  font-style: normal;
}
/*--------- COLORS--------- */
body {
  font-family: "Georgia";
}

.body._lock {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------- HEADER--------- */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}
.header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header a {
  text-decoration: none;
}
.header__title {
  color: #545454;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.12rem;
  margin-bottom: 10px;
  text-decoration: none;
}
.header__logo-subtitle {
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
  color: #292929;
  letter-spacing: 0.08rem;
}

/* --------NAV --------*/
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Arial";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.nav li {
  list-style-type: none;
}
.nav__link {
  margin-left: 36px;
  color: #545454;
  text-decoration: none;
  opacity: 0.75;
  -webkit-transition: opacity 0.1 linear;
  transition: opacity 0.1 linear;
}
.nav__link-active {
  color: #292929;
  text-decoration: none;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid #f1cdb3;
  margin-left: 2.3rem;
}
.nav__link:hover {
  opacity: 1;
}

/* -------PETS (MAIN)------*/
.pets {
  background-color: #f6f6f6;
}
.pets__inner {
  padding: 85px 0 100px 0;
}
.pets__heading {
  width: 400px;
  font-weight: 400;
  font-size: 35px;
  color: #545454;
  letter-spacing: 0.13rem;
  margin-bottom: 6px;
  text-align: center;
  margin: 0 auto;
}
.pets__cards__container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.pets .card {
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
  margin-top: 3.5rem;
  margin-bottom: -1.6rem;
  text-align: center;
  cursor: url("../assets/icons/cursor.png"), auto;
}
.pets .card:hover {
  background-color: #ffffff;
}
.pets .card:hover .card__btn {
  background-color: #f1cdb3;
}
.pets .card__name {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 20px;
  color: #545454;
  letter-spacing: 0.07rem;
}
.pets .card__btn {
  background-color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.7px;
  color: #292929;
  text-decoration: none;
  margin-top: 30px;
  padding: 15px 45px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  cursor: url("../assets/icons/cursor.png"), auto;
}
.pets .navigation {
  padding-top: 85px;
  max-width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.pets .navigation__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 340px;
  height: 52px;
}
.pets .navigation__btn {
  border: 2px solid #cdcdcd;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.pets .navigation__btn__number {
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.pets .navigation__btn__next {
  border: 2px solid #f1cdb3;
  background-color: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.pets .navigation__btn__next:hover {
  background-color: #f1cdb3;
}

/* -------FOOTER------*/
.footer {
  background-image: url(../assets/images/footer-gradient-background.png);
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__contacts {
  padding-top: 16px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__title {
  width: 279px;
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
  letter-spacing: 0.12rem;
  line-height: 2.7rem;
}
.footer__contacts a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.footer__mail__text::before {
  content: "";
  background-image: url(../assets/icons/mail.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 26px;
  display: block;
  margin-right: 20px;
}
.footer__phone__text::before {
  content: "";
  background-image: url(../assets/icons/phone.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 32px;
  display: block;
  margin-right: 20px;
}
.footer__location {
  padding-top: 16px;
  width: 300px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__location__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400px;
  font-size: 20px;
  font-style: normal;
  color: #f1cdb3;
  letter-spacing: 0.078rem;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__location__text::before {
  content: "";
  background-image: url(../assets/icons/pin.png);
  background-repeat: no-repeat;
  width: 43px;
  height: 32px;
  display: block;
  margin-right: 20px;
}
.footer .footer__location__textLondon::before {
  margin-right: 0px;
}
.footer__img {
  background-image: url(../assets/images/footer-puppy.png);
  width: 300px;
  height: 310px;
}

/* -------ADAPTIVE ------*/
@media (max-width: 1279px) and (min-width: 768px) {
  /* -------HEADER------*/
  .header .container {
    padding: 0 30px;
  }

  /* -------PETS------*/
  .pets .container {
    padding: 0 30px;
  }
  .pets__cards__container {
    margin: 0 auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 10px;
    width: 680px;
  }
  .pets__inner {
    padding-bottom: 80px;
  }
  .pets .card {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .pets .card__name {
    margin-top: 1.8rem;
  }
  .pets .card:nth-last-child(-n+2) {
    display: none;
  }
  .pets .navigation {
    padding-top: 0px;
  }

  /* -------FOOTER------*/
  .footer {
    background-image: url(../assets/images/footer-gradient-background768.png);
    background-size: 100%;
    padding-top: 15px;
  }
  .footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 65px 60px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  /* -------HEADER------*/
  .header {
    padding: 30px 0 0 0;
    height: 90px;
  }
  .header .header__logo {
    z-index: 5;
  }
  .header .container {
    padding: 0 10px;
    margin-right: 43px;
    height: 60px;
  }
  .header .burger {
    display: inline-block;
    cursor: pointer;
    z-index: 5;
  }
  .header .burger-bar1,
.header .burger-bar2,
.header .burger-bar3 {
    width: 30px;
    height: 2px;
    background-color: #000000;
    margin: 8px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header ._active .burger-bar1 {
    -webkit-transform: rotate(-90deg) translate(-10px, 10px);
            transform: rotate(-90deg) translate(-10px, 10px);
  }
  .header ._active .burger-bar2 {
    -webkit-transform: rotate(-90deg) translate(0px, -10px);
            transform: rotate(-90deg) translate(0px, -10px);
  }
  .header ._active .burger-bar3 {
    -webkit-transform: rotate(-90deg) translate(10px, 0px);
            transform: rotate(-90deg) translate(10px, 0px);
  }
  .header .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 90px 0 90px 0;
    -webkit-transition: right 0.9s ease 0s;
    transition: right 0.9s ease 0s;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    background: #ffffff;
  }
  .header .nav._active {
    right: 0;
  }
  .header ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
    height: 100vh;
    margin-top: 15px;
  }
  .header li {
    margin: 0 auto;
    font-size: 32px;
    line-height: 51px;
    color: #fafafa;
  }
  .header .nav__link {
    margin-left: 0px;
  }

  /* -------PETS------*/
  .pets .container {
    height: 1650px;
    padding: 0 10px;
  }
  .pets__inner {
    padding-top: 42px;
  }
  .pets__heading {
    letter-spacing: 0.1rem;
    width: 300px;
    font-size: 25px;
    line-height: 32px;
  }
  .pets__cards__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 25px;
  }
  .pets .card {
    margin-top: 2rem;
  }
  .pets .card:nth-last-child(-n+5) {
    display: none;
  }
  .pets .navigation {
    padding-top: 65px;
  }

  /* -------FOOTER------*/
  .footer {
    background-image: url(../assets/images/footer-gradient-background320.png);
    background-size: 100%;
    padding-top: 30px;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10px;
  }
  .footer .footer__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  .footer__contacts {
    padding: 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 208px;
  }
  .footer__location {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 214px;
    margin: 0 auto;
  }
  .footer .location__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
  .footer .footer__location__textLondon {
    padding-right: 28px;
  }
  .footer__img {
    background-size: 260px auto;
    width: 260px;
    height: 269px;
    margin-left: 20px;
    margin: 0 auto;
  }
}