/*--------- FONTS--------- */
@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-bold-italic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/arial/arial-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

/*--------- COLORS--------- */
$pink-primary: #f1cdb3;
$white: #ffffff;
$light-s-white: #fafafa;
$light-l: #f6f6f6;
$grey-texts: #cdcdcd;
$dark-l-texts: #545454;
$dark-xl-texts: #4c4c4c;
$dark-3xl-texts: #292929;

body {
  font-family: "Georgia";
}

.body._lock {
  overflow: hidden;
}

.body._lock .header__logo {
  opacity: 0;
}

.block-page._active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 40px;
}

.main-page {
  background-image: url(../assets/images/start-screen-gradient-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}
/*--------- HEADER--------- */
.header {
  display: flex;
  height: 120px;
  top: 0;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .burger__logo {
    display: none;
  }
  a {
    text-decoration: none;
  }

  &__title {
    color: $pink-primary;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.14rem;
    text-decoration: none;
  }

  &__logo-subtitle {
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
    color: $white;
    letter-spacing: 0.086rem;
    margin-left: 0.3rem;
    margin-top: 0.5rem;
  }
}

/* --------NAV --------*/
.nav {
  ul {
    display: flex;
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
  li {
    list-style-type: none;
  }

  &__link {
    margin-left: 36px;
    color: $grey-texts;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.1 linear;
  }

  &__link-active {
    color: $light-s-white;
    text-decoration: none;
    padding-bottom: 0.3rem;
    border-bottom: 3px solid $pink-primary;
  }

  &__link:hover {
    opacity: 1;
  }
}

/* --------START SCREEN-------*/
.start__screen {
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }
  &__content {
    width: 460px;
    padding-top: 163px;
  }

  &__heading {
    font-size: 44px;
    font-weight: 400;
    width: 310px;
    color: $white;
    line-height: 130%;
    margin-right: 150px;
  }
  &__text {
    font-family: "Arial";
    font-size: 15px;
    line-height: 160%;
    width: 460px;
    color: $grey-texts;
    padding: 42px 0;
  }
  &__button {
    margin-top: 57px;
  }
  &__btn {
    background-color: $pink-primary;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1px;
    color: $dark-3xl-texts;
    text-decoration: none;
    padding: 15px 45px;
    border-radius: 100px;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: #fddcc4;
  }

  &__img {
    background-size: 698px 728px;
    width: 698px;
    height: 728px;
  }
}

/* -------ABOUT----------*/
.about {
  background-color: $white;
  .container {
    display: flex;
    padding: 85px 30px 90px 30px;
    justify-content: center;
    gap: 120px;
  }
  &__img {
    width: 300px;
    height: 408px;
  }
  &__content {
    margin-top: 10px;
  }
  &__heading {
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 45.5px;
    color: $dark-l-texts;
    width: 370px;
    margin-bottom: 25px;
  }

  &__text {
    font-family: "Arial";
    font-weight: 400;
    font-size: 15px;
    color: $dark-xl-texts;
    width: 430px;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

/* -------PETS------*/

.pets {
  background-color: $light-l;
  padding-bottom: 15px;
  .container {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__headings {
    margin: 0 auto;
  }
  &__heading {
    text-align: center;
    width: 400px;
    font-weight: 400;
    font-size: 35px;
    color: $dark-l-texts;
    letter-spacing: 0.13rem;
    margin-bottom: 6px;
  }

  .slider {
    width: 1200px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    gap: 40px;
    padding-bottom: 75px;
    &__btn {
      border: 2px solid $pink-primary;
      border-radius: 100px;
      width: 52px;
      height: 52px;
      margin-top: 15.5rem;
      cursor: pointer;
    }

    &__btn:hover {
      background-color: $pink-primary;
    }
    .slider__outer__wrapper {
      display: flex;
      width: 990px;
      justify-content: space-between;
      align-items: center;
      position: relative;
      overflow: hidden;
      height: 470px;
    }
    .slider__inner__wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      column-gap: 90px;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.3s;
    }
    .slider__inner__wrapper:nth-child(1) {
      left: -110%;
    }
    .slider__inner__wrapper:nth-child(3) {
      left: 110%;
    }

    .slider__card {
      width: 270px;
      height: 435px;
      background-color: $light-s-white;
      border-radius: 9px;
      margin: 0 auto;
      margin-top: 3.5rem;
      cursor: url("../assets/icons/cursor.png"), auto;
    }

    .slider__card:hover {
      background-color: $white;
    }

    .slider__card:hover .slider__card__btn {
      background-color: $pink-primary;
    }

    &__card__name {
      margin-top: 1.6rem;
      font-weight: 400;
      font-size: 20px;
      color: $dark-l-texts;
      letter-spacing: 0.07rem;
    }

    &__card__btn {
      background-color: $white;
      font-size: 17px;
      font-weight: 400;
      line-height: 22.1px;
      letter-spacing: 0.7px;
      color: $dark-3xl-texts;
      text-decoration: none;
      margin-top: 30px;
      padding: 15px 45px;
      border-radius: 100px;
      border: 2px solid $pink-primary;
      cursor: url("../assets/icons/cursor.png"), auto;
    }
  }
}

.pets__btn {
  margin: 0 auto;
  text-align: center;
  z-index: 5;
}

.pets__inner__btn {
  background-color: $pink-primary;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1px;
  color: $dark-3xl-texts;
  text-decoration: none;
  padding: 15px 50px;
  border-radius: 100px;
  cursor: pointer;
}

.pets__inner__btn:hover {
  background-color: #fddcc4;
}

@keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
}

/* -------HELP------*/
.help {
  background-color: $white;
  display: flex;
  justify-content: center;
  &__inner {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__heading {
    width: 310px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 35px;
    color: $dark-l-texts;
    line-height: 45px;
    letter-spacing: 0.13rem;
  }

  &__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    max-width: 1031px;
    background: $white;
    gap: 55px 118px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list__text {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: $dark-l-texts;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

/* -------DONATION (IN ADDITION)------*/
.donation {
  background-color: $light-l;
  .container {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__img {
    width: 505px;
    height: 261px;
  }
  &__heading {
    font-size: 35px;
    font-weight: 400;
    color: $dark-l-texts;
    letter-spacing: 0.13rem;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 2.8rem;
  }
  &__subheading {
    font-size: 15px;
    font-weight: 400;
    color: $dark-l-texts;
    letter-spacing: 0.055rem;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
  }
  &__text {
    font-family: "Arial";
    font-weight: 400;
    font-style: italic;
    width: 380px;
    font-size: 12px;
    color: $grey-texts;
    margin-top: 30px;
    line-height: 18px;
  }
}
.credit__card {
  color: $pink-primary;
  &__inner {
    background-color: $pink-primary;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.075rem;
    color: $dark-l-texts;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 15px;
    border-radius: 9px;
    cursor: pointer;
    width: 349px;
    height: 43px;
    position: relative;
  }
  &__inner::before {
    content: "";
    background-image: url(../assets/icons/credit-card.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 23px;
    display: block;
    margin-left: 15px;
    position: absolute;
  }
  &__inner:hover {
    background-color: #fddcc4;
  }
}
/* -------FOOTER------*/
.footer {
  background-image: url(../assets/images/footer-gradient-background.png);
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: 100%;
  .container {
    display: flex;
    justify-content: space-between;
  }
  &__contacts {
    padding-top: 16px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__title {
    width: 279px;
    font-weight: 400;
    font-size: 35px;
    color: $white;
    letter-spacing: 0.12rem;
    line-height: 2.7rem;
  }
  &__contacts a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: $pink-primary;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__mail__text::before {
    content: "";
    background-image: url(../assets/icons/mail.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 26px;
    display: block;
    margin-right: 20px;
  }
  &__phone__text::before {
    content: "";
    background-image: url(../assets/icons/phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 32px;
    display: block;
    margin-right: 20px;
  }

  &__location {
    padding-top: 16px;
    width: 300px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__location__text {
    display: flex;
    font-weight: 400px;
    font-size: 20px;
    font-style: normal;
    color: $pink-primary;
    letter-spacing: 0.078rem;
    text-decoration: none;
    align-items: center;
  }

  &__location__text::before {
    content: "";
    background-image: url(../assets/icons/pin.png);
    background-repeat: no-repeat;
    width: 43px;
    height: 32px;
    display: block;
    margin-right: 20px;
  }
  .footer__location__textLondon::before {
    margin-right: 0px;
  }
  &__img {
    background-image: url(../assets/images/footer-puppy.png);
    width: 300px;
    height: 310px;
  }
}

/* -------POPUP------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  top: 0;
  left: 0;
  align-items: center;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;

  &.showPopup {
    display: inline-block;
    overflow: hidden;
  }
  &__body {
    width: 900px;
    height: 500px;
    background-color: $white;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    top: 52px;
    position: relative;
    z-index: 10;
  }
  &__close {
    position: absolute;
    right: 130px;
    top: 10px;
    width: 50px;
    height: 50px;
    border: 2px solid $pink-primary;
    border-radius: 100px;
    background-color: transparent;
    transform: rotate(45deg);
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  &__close::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 17px;
    transform: rotate(0deg) translateX(-50%) translateY(-50%);
  }

  &__close::after {
    content: "";
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17px;
    height: 2px;
    transform: rotate(0deg) translateX(-50%) translateY(-50%);
  }
  &__close:hover {
    background-color: #fddcc4;
  }
  &__content {
    width: 351px;
    margin-top: 50px;
    margin-left: 30px;
  }
  &__img {
    width: 500px;
  }
  &__title {
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  &__text {
    font-size: 15px;
    font-weight: 400px;
    margin-bottom: 40px;
  }
  ul {
    margin-left: 15px;
    line-height: 30px;
  }
  li {
    color: $dark-3xl-texts;
    font-weight: bold;
  }
  li::marker {
    color: $pink-primary;
  }
  li span {
    color: $dark-3xl-texts;
    font-weight: normal;
  }
}

@media (max-width: 1279px) and (min-width: 768px) {
  /* -------HEADER------*/
  .main-page {
    background-image: url(../assets/images/start-screen-gradient-background768.jpg);
    background-size: 100%;
  }
  .header {
    .container {
      padding: 0 30px;
    }
  }

  /* --------START SCREEN-------*/
  .start__screen {
    .container {
      flex-wrap: wrap;
      justify-content: flex-end;
      padding: 0 30px;
    }
    &__content {
      margin: 0 auto;
      padding-top: 0;
      padding-bottom: 70px;
    }
    &__heading {
      margin-top: 30px;
    }
    &__button {
      margin-left: 126px;
    }
    &__img {
      background-size: 569px 593px;
      width: 569px;
      height: 593px;
    }
  }

  /* -------ABOUT----------*/
  .about {
    .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: center;
      padding-top: 80px;
      padding-bottom: 100px;
      gap: 57px;
    }
    &__content {
      margin: 0 auto;
    }
    &__heading {
      margin-top: 0;
    }
    &__img {
      margin: 0 auto;
    }
  }

  /* -------PETS------*/

  .pets {
    padding-top: 30px;
    .container {
      padding: 0 30px;
    }
    .slider {
      width: 100%;
      padding: 60px 0;
      position: relative;
      .slider__outer__wrapper {
        width: 650px;
      }
      .slider__inner__wrapper {
        gap: 40px;
      }
      &__card320 {
        display: none;
      }
    }
    &__btn {
      margin-bottom: 30px;
    }
  }

  @keyframes move-right {
    from {
      left: 0px;
    }
    to {
      left: -620px;
    }
  }
  @keyframes move-left {
    from {
      left: -620px;
    }
    to {
      left: 0px;
    }
  }

  /* -------POPUP------*/
  .popup {
    &__body {
      width: 630px;
      height: auto;
      min-height: 350px;
      margin-top: 70px;
    }
    &__content {
      margin-top: 10px;
      margin-left: 11px;
      row-gap: 20px;
      width: 250px;
    }
    &__close {
      top: 80px;
      right: 20px;
    }
    &__img {
      width: 350px;
    }
    &__text {
      font-size: 13px;
    }
    ul {
      padding-bottom: 10px;
    }
  }
  /* -------HELP------*/
  .help {
    margin-top: 0px;
    .container {
      padding: 0 30px;
    }
    &__lists {
      margin-top: 60px;
      max-width: 635px;
      background: $white;
      gap: 55px 110px;
    }
    &__list {
      width: 117px;
    }
    &__list__text {
      width: 170px;
    }
  }

  /* -------DONATION (IN ADDITION)------*/
  .donation {
    .container {
      padding: 0 30px;
      padding-top: 80px;
      padding-bottom: 95px;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      gap: 60px;
    }
  }
  /* -------FOOTER------*/
  .footer {
    background-image: url(../assets/images/footer-gradient-background768.png);
    background-size: 100%;
    padding-top: 15px;

    .container {
      flex-wrap: wrap;
      justify-content: center;
      gap: 65px 60px;
    }
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  /* --------NAV --------*/
  .main-page {
    background-image: url(../assets/images/footer-gradient-background320.png);
    background-size: 100%;
    background-size: cover;
  }
  .header {
    padding: 30px 0 0 0;
    height: 90px;
    .header__logo {
      z-index: 5;
    }
    .container {
      padding: 0 10px;
      margin-right: 43px;
      height: 60px;
    }
    .burger {
      display: inline-block;
      cursor: pointer;
      z-index: 5;
    }
    .burger__logo {
      display: block;
      position: absolute;
      top: 30px;
      left: 10px;
      transition: right 0.9s ease 0s;
    }
    .burger__logo._active {
      opacity: 1;
      z-index: 5;
      transition: right 0.9s ease 0s;
    }
    .burger-bar1,
    .burger-bar2,
    .burger-bar3 {
      width: 30px;
      height: 2px;
      background-color: $pink-primary;
      margin: 8px 0;
      transition: 0.3s;
    }

    ._active .burger-bar1 {
      transform: rotate(-90deg) translate(-10px, 10px);
    }
    ._active .burger-bar2 {
      transform: rotate(-90deg) translate(0px, -10px);
    }
    ._active .burger-bar3 {
      transform: rotate(-90deg) translate(10px, 0px);
    }

    .nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 320px;
      height: 100%;
      padding: 90px 0 90px 0;
      transition: right 0.9s ease 0s;
      transform: translate(0px, 0px);
      background: $dark-3xl-texts;
    }
    .nav._active {
      right: 0;
    }
    ul {
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      height: 100vh;
    }
    li {
      margin: 0 auto;
      font-size: 32px;
      line-height: 51px;
      color: $light-s-white;
    }
    .nav__link {
      margin-left: 0px;
    }
  }

  /* --------START SCREEN-------*/
  .start__screen {
    .container {
      padding: 0 10px;
      padding-top: 30px;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    &__content {
      width: 300px;
      align-items: center;
      padding-top: 0;
      padding-bottom: 75px;
      margin: 0 auto;
    }

    &__heading {
      font-size: 25px;
      width: 230px;
      text-align: center;
      letter-spacing: 1.4px;
      margin: 0 auto;
    }
    &__text {
      width: 300px;
      text-align: center;
      margin: 0 auto;
    }
    &__img {
      background-size: 260px auto;
      width: 260px;
      height: 271px;
    }
  }

  /* -------ABOUT----------*/
  .about {
    .container {
      padding: 42px 10px 42px 10px;
      gap: 42px;
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
      flex-direction: column-reverse;
    }
    &__content {
      width: 300px;
      margin-top: 0px;
      margin: 0 auto;
    }
    &__heading {
      font-size: 25px;
      letter-spacing: 1.7px;
      line-height: 33px;
      text-align: center;
      margin: 0 auto;
      width: 230px;
    }

    &__text {
      margin: 0 auto;
      max-width: 270px;
      text-align: justify;
      margin-top: 23px;
      margin-left: 15px;
      line-height: 24px;
    }
    &__img {
      background-size: 260px auto;
      width: 260px;
      height: 353px;
      margin: 0 auto;
    }
  }

  /* -------PETS------*/

  .pets {
    .container {
      padding: 0 10px;
      padding-bottom: 42px;
      padding-top: 42px;
    }
    &__headings {
      max-width: 300px;
      margin: 0 auto;
    }
    &__heading {
      font-size: 25px;
      width: 300px;
      letter-spacing: 0.1rem;
    }
    .slider {
      display: block;
      width: 350px;
      padding-bottom: 37px;
      .slider__card {
        order: -1;
        margin-top: 2.5rem;
      }
      .slider__outer__wrapper {
        width: 300px;
      }
      .slider__inner__wrapper {
        gap: 40px;
        padding-bottom: 18px;
      }
      &__card768 {
        display: none;
      }
      &__card320 {
        display: none;
      }
      &__btn {
        margin-top: 17px;
        margin-bottom: 20px;
        margin-left: 57px;
        margin-right: 25px;
      }
    }
  }

  @keyframes move-right {
    from {
      left: 0px;
    }
    to {
      left: -310px;
    }
  }
  @keyframes move-left {
    from {
      left: -310px;
    }
    to {
      left: 0px;
    }
  }

  /* -------POPUP------*/
  .popup {
    &__body {
      height: auto;
      margin-top: 60px;
      width: 240px;
      border-radius: 9px;
    }
    &__content {
      margin-top: 20px;
      width: 220px;
      margin-left: 10px;
    }
    &__close {
      right: 10px;
      top: 60px;
    }
    &__subtitle {
      margin-bottom: 20px;
    }
    &__img {
      display: none;
    }
    &__text {
      font-size: 13px;
      margin-bottom: 20px;
    }
    ul {
      padding-bottom: 10px;
    }
  }
  /* -------HELP------*/
  .help {
    .container {
      padding: 0 10px;
    }
    &__inner {
      padding-top: 0;
      padding-bottom: 35px;
    }
    &__heading {
      font-size: 25px;
      letter-spacing: 0.1rem;
      line-height: 32px;
      width: 225px;
      margin-top: 40px;
    }
    &__lists {
      justify-content: flex-start;
      margin: 0 auto;
      gap: 30px;
      margin-top: 45px;
      margin-left: 5px;
    }
    &__list {
      width: 130px;
      margin: 0 auto;
    }
    &__list-last {
      margin-left: 1.2px;
    }
    &__list__text {
      font-size: 15px;
      width: 170px;
      margin-top: 20px;
    }
    &__img {
      width: 50px;
    }
    &__img__food {
      width: 40px;
      height: 50px;
    }
    &__img__shampoos {
      width: 25px;
      height: 50px;
    }
  }

  /* -------DONATION (IN ADDITION)------*/
  .donation {
    .container {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      gap: 42px;
      padding: 0 10px;
    }
    &__content {
      padding-top: 42px;
    }
    &__heading {
      font-size: 25px;
      text-align: center;
      width: 220px;
      line-height: 2rem;
      letter-spacing: 0.1rem;
      margin: 0 auto;
    }
    &__subheading {
      font-size: 15px;
      letter-spacing: 0px;
      margin-top: 25px;
      margin-bottom: 2.4rem;
    }
    &__img {
      margin-top: 0;
      padding-bottom: 39px;
    }
    .credit__card {
      color: $pink-primary;

      &__inner {
        font-size: 15px;
        letter-spacing: 0.05rem;
        padding-top: 13px;
        padding-bottom: 13px;
      }
    }
    &__text {
      text-align: justify;
      width: 280px;
    }
    &__img {
      background-size: 260px auto;
      width: 260px;
      height: 135px;
    }
  }

  /* -------FOOTER------*/
  .footer {
    background-image: url(../assets/images/footer-gradient-background320.png);
    background-size: 100%;
    padding-top: 30px;
    .container {
      flex-direction: column;
      row-gap: 40px;
      justify-content: center;
      padding: 0 10px;
    }
    .footer__title {
      font-size: 25px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.1rem;
    }

    &__contacts {
      padding: 0 10px;
      align-items: center;
      height: 208px;
    }
    &__location {
      padding: 0;
      align-items: center;
      height: 214px;
      margin: 0 auto;
    }
    .location__title {
      font-size: 25px;
      line-height: 32px;
      text-align: center;
    }
    .footer__location__textLondon {
      padding-right: 28px;
    }
    &__img {
      background-size: 260px auto;
      width: 260px;
      height: 269px;
      margin-left: 20px;
      margin: 0 auto;
    }
  }
}
