@charset "UTF-8";
/*--------- FONTS--------- */
@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia-bold-italic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/arial/arial-regular.ttf);
  font-weight: 400;
  font-style: normal;
}
/*--------- COLORS--------- */
body {
  font-family: "Georgia";
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*--------- HEADER--------- */
.header {
  background-image: url(../assets/images/start-screen-gradient-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* Firefox 3.6+ */
  /* Safari 3.1+ и Chrome 4.0+ */
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
  height: 100%;
}
.header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
}
.header__content {
  margin-top: 2.5rem;
  margin-left: 5px;
}
.header h1 {
  margin-bottom: 0px;
}
.header__logo {
  color: #f1cdb3;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.14rem;
  text-decoration: none;
}
.header__logo-subtitle {
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.086rem;
  margin-left: 0.3rem;
  margin-top: 0.5rem;
}

/* --------NAV --------*/
.nav {
  font-family: "Arial";
  font-size: 15px;
  font-weight: 400;
  margin-top: 2.5rem;
}
.nav__link {
  margin-left: 28px;
  color: #cdcdcd;
  text-decoration: none;
  opacity: 0.75;
  -webkit-transition: opacity 0.1 linear;
  transition: opacity 0.1 linear;
}
.nav__link-active {
  color: #fafafa;
  text-decoration: none;
  padding-bottom: 0.3rem;
  border-bottom: 3px solid #f1cdb3;
}
.nav__link:hover {
  opacity: 1;
}

/* --------START SCREEN-------*/
.start__screen {
  background-image: url(../assets/images/start-screen-gradient-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* Firefox 3.6+ */
  /* Safari 3.1+ и Chrome 4.0+ */
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
  height: 100%;
}
.start__screen__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.start__screen__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.start__screen__content {
  padding-bottom: 85px;
  margin-left: 10px;
}
.start__screen__heading {
  font-size: 44px;
  font-weight: 400;
  width: 310px;
  color: #ffffff;
  line-height: 130%;
}
.start__screen__contentinner {
  margin-top: 2.6rem;
}
.start__screen__text {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  width: 460px;
  color: #cdcdcd;
  margin-bottom: 1.9rem;
  padding-bottom: 1.5rem;
}
.start__screen__btn {
  background-color: #f1cdb3;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.6px;
  color: #292929;
  text-decoration: none;
  padding: 15px 50px;
  border-radius: 100px;
  cursor: pointer;
}
.start__screen__btn:hover {
  background-color: #fddcc4;
}
.start__screen__img {
  height: 100%;
  width: 95%;
  margin-top: 45px;
  margin-left: 40px;
}

/* -------ABOUT----------*/
.about {
  padding-bottom: 5.4rem;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  margin-left: 11.5rem;
}
.about__img {
  margin-right: 7.5rem;
}
.about__heading {
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 2px;
  line-height: 45.5px;
  color: #545454;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 370px;
}
.about__text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  color: #4c4c4c;
  width: 430px;
  line-height: 24px;
  margin-bottom: 25px;
}

/* -------PETS------*/
.pets {
  padding-top: 6.2rem;
  padding-bottom: 7.1rem;
  background-color: #f6f6f6;
}
.pets__heading {
  margin-top: -1rem;
}
.pets__heading__inner {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  font-weight: 400;
  font-size: 35px;
  color: #545454;
  letter-spacing: 0.13rem;
  margin-bottom: 6px;
  margin-left: 410px;
}
.pets .slider {
  height: 500px;
  margin-left: 10px;
}
.pets .slider__btn {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  margin-top: 15.5rem;
  cursor: pointer;
}
.pets .slider__btn:hover {
  background-color: #f1cdb3;
}
.pets .slider__wrapper {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
}
.pets .slider .slider__card {
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
  margin: 0 auto;
  margin-top: 3.5rem;
  cursor: url("../assets/icons/cursor.png"), auto;
}
.pets .slider .slider__card:hover {
  background-color: #ffffff;
}
.pets .slider .slider__card:hover .slider__card__btn {
  background-color: #f1cdb3;
}
.pets .slider__card__name {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 20px;
  color: #545454;
  letter-spacing: 0.07rem;
}
.pets .slider__card__btn {
  background-color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 22.1px;
  letter-spacing: 0.7px;
  color: #292929;
  text-decoration: none;
  margin-top: 10px;
  padding: 15px 45px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  cursor: url("../assets/icons/cursor.png"), auto;
}

.pets__btn {
  margin: 0 auto;
  text-align: center;
  padding-top: 4.2rem;
  margin-left: 20px;
}

.pets__inner__btn {
  background-color: #f1cdb3;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1px;
  color: #292929;
  text-decoration: none;
  padding: 15px 50px;
  border-radius: 100px;
  cursor: pointer;
}

.pets__inner__btn:hover {
  background-color: #fddcc4;
}

/* -------HELP------*/
.help {
  margin-top: 5rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 530px;
}
.help__container {
  width: 1280px;
}
.help__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 611px;
  margin-left: 20px;
}
.help__heading {
  width: 310px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 35px;
  color: #545454;
  line-height: 45px;
  letter-spacing: 0.13rem;
}
.help__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  max-width: 1031px;
  background: #ffffff;
  gap: 55px 118px;
}
.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.help__list__text {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #545454;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
}

/* -------DONATION (IN ADDITION)------*/
.donation {
  padding-top: 80px;
  padding-bottom: 88px;
  background-color: #f6f6f6;
}
.donation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9.5rem;
}
.donation__img {
  margin-right: 1.8rem;
  margin-top: 0.6rem;
}
.donation__heading {
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.13rem;
  width: 300px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2.8rem;
}
.donation__subheading {
  font-size: 15px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.055rem;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}
.donation__text {
  font-family: "Arial";
  font-weight: 400;
  font-style: italic;
  width: 380px;
  font-size: 12px;
  color: #cdcdcd;
  margin-top: 30px;
  line-height: 18px;
}

.credit__card {
  color: #f1cdb3;
}
.credit__card__inner {
  background-color: #f1cdb3;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.075rem;
  color: #545454;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 15px;
  border-radius: 9px;
  cursor: pointer;
  width: 349px;
  height: 43px;
  position: relative;
}
.credit__card__inner::before {
  content: "";
  background-image: url(../assets/icons/credit-card.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 23px;
  display: block;
  margin-left: 15px;
  position: absolute;
}
.credit__card__inner:hover {
  background-color: #fddcc4;
}

/* -------FOOTER------*/
.footer {
  background-image: url(../assets/images/footer-gradient-background.png);
  background-repeat: no-repeat;
  /* Firefox 3.6+ */
  /* Safari 3.1+ и Chrome 4.0+ */
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.4rem;
}
.footer__contacts {
  width: 285px;
  margin-right: 161px;
  margin-left: 10px;
}
.footer .contact__title {
  font-weight: 400;
  font-size: 35px;
  width: 276px;
  color: #ffffff;
  letter-spacing: 0.12rem;
  line-height: 2.7rem;
  margin-bottom: 2.9rem;
}
.footer .contact__mail {
  width: 255px;
  height: 27px;
}
.footer .contact__mail__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400px;
  font-size: 20px;
  font-style: normal;
  color: #f1cdb3;
  letter-spacing: 0.07rem;
  text-decoration: none;
}
.footer .contact__mail__text::before {
  content: "";
  background-image: url(../assets/icons/mail.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 26px;
  display: block;
  margin-right: 20px;
}
.footer .contact__phone {
  width: 240px;
  height: 32px;
  margin-top: 43px;
}
.footer .contact__phone__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400px;
  font-size: 20px;
  font-style: normal;
  color: #f1cdb3;
  letter-spacing: 0.07rem;
  text-decoration: none;
}
.footer .contact__phone__text::before {
  content: "";
  background-image: url(../assets/icons/phone.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 32px;
  display: block;
  margin-right: 20px;
}
.footer__location {
  width: 305px;
}
.footer .location__title {
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
  width: 270px;
  letter-spacing: 0.13rem;
  line-height: 2.7rem;
}
.footer .location__boston {
  height: 50px;
  width: 300px;
}
.footer .location__boston a {
  text-decoration: none;
}
.footer .location__boston__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400px;
  font-size: 20px;
  font-style: normal;
  color: #f1cdb3;
  letter-spacing: 0.078rem;
}
.footer .location__boston__text::before {
  content: "";
  background-image: url(../assets/icons/pin.png);
  background-repeat: no-repeat;
  width: 43px;
  height: 32px;
  margin-right: 1.3rem;
}
.footer .location__london {
  height: 46px;
}
.footer .location__london a {
  text-decoration: none;
}
.footer .location__london__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400px;
  font-size: 20px;
  font-style: normal;
  color: #f1cdb3;
  margin-top: 2rem;
  letter-spacing: 0.078rem;
}
.footer .location__london__text::before {
  content: "";
  background-image: url(../assets/icons/pin.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 22px;
  height: 32px;
  display: block;
  margin-right: 20px;
}
.footer__img {
  margin-left: 10rem;
  margin-top: 1.1rem;
}

/* -------ADAPTIVE ------*/
@media (max-width: 1279px) and (min-width: 768px) {
  /* --------NAV --------*/
  .header__container {
    max-width: 708px;
  }
  .header__inner {
    width: 708px;
    height: 115px;
  }
  .header__content {
    margin-top: 0;
    margin-left: 0px;
  }

  .nav {
    margin-top: 0px;
  }
  .nav__link {
    margin-left: 32px;
  }

  /* --------START SCREEN-------*/
  .start__screen {
    background-image: url(../assets/images/start-screen-gradient-background768.jpg);
  }
  .start__screen__container {
    max-width: 708px;
  }
  .start__screen__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start__screen__heading {
    margin-top: 35px;
  }
  .start__screen__content {
    padding-bottom: 120px;
    margin-left: 0px;
  }
  .start__screen__btn {
    margin-left: 7.7rem;
  }
  .start__screen__img {
    margin-left: 9rem;
    width: 79%;
    margin-top: 0;
  }

  /* -------ABOUT----------*/
  .about {
    padding-bottom: 0;
  }
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 4.3rem;
    margin-left: 10.5rem;
    padding-bottom: 7rem;
  }
  .about__heading {
    margin-bottom: 23px;
  }
  .about__img {
    margin-left: 4rem;
    margin-top: 3.2rem;
  }

  /* -------PETS------*/
  .pets {
    height: 877px;
    width: 768px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .pets .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .pets__heading {
    padding-top: 5.3rem;
  }
  .pets__heading__inner {
    margin-left: 185px;
    margin-bottom: 4px;
  }
  .pets .slider {
    width: 768px;
    margin-left: 0px;
    margin-top: 5px;
  }
  .pets .slider__card {
    margin-top: 3.7rem;
  }
  .pets .slider__card320 {
    display: none;
  }
  .pets .slider__wrapper {
    width: 708px;
  }
  .pets__btn {
    margin-left: 0;
  }

  /* -------HELP------*/
  .help {
    margin-top: 5.3rem;
    height: 698px;
  }
  .help__container {
    width: 708px;
  }
  .help__inner {
    margin-left: 0px;
  }
  .help__lists {
    margin-top: 60px;
    max-width: 635px;
    background: #ffffff;
    gap: 55px 110px;
  }
  .help__list {
    width: 117px;
  }
  .help__list__text {
    width: 170px;
  }

  /* -------DONATION (IN ADDITION)------*/
  .donation {
    padding-top: 0px;
    padding-bottom: 0;
    height: 774px;
  }
  .donation .container {
    max-width: 708px;
  }
  .donation__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 80px;
    margin-left: 165px;
  }
  .donation__img {
    margin-top: 3rem;
    margin-left: -65px;
  }

  /* -------FOOTER------*/
  .footer {
    background-image: url(../assets/images/footer-gradient-background768.png);
    height: 639px;
    width: 768px;
    padding-top: 5px;
  }
  .footer__container {
    max-width: 768px;
  }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .footer__contacts {
    margin-left: 65px;
    margin-right: 50px;
  }
  .footer__img {
    margin-left: 14.5rem;
    margin-top: 3rem;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  /* --------NAV --------*/
  .header__container {
    max-width: 310px;
  }
  .header__inner {
    width: 257px;
  }
  .header__content {
    margin-top: 10px;
    margin-left: 0;
  }

  .nav {
    display: none;
  }

  /* --------START SCREEN-------*/
  .start__screen {
    background-image: url(../assets/images/footer-gradient-background320.png);
  }
  .start__screen__container {
    max-width: 300px;
  }
  .start__screen__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
  .start__screen__content {
    width: 320px;
    height: 320px;
  }
  .start__screen__heading {
    font-size: 25px;
    width: 230px;
    text-align: center;
    margin-left: 35px;
    letter-spacing: 1.4px;
    margin-top: 45px;
  }
  .start__screen__text {
    width: 300px;
    text-align: center;
  }
  .start__screen__btn {
    margin-left: 2.7rem;
  }
  .start__screen__img {
    margin-left: 2.5rem;
    width: 85%;
    margin-top: 44px;
  }

  /* -------ABOUT----------*/
  .about {
    max-width: 320px;
    padding-bottom: 0px;
  }
  .about .container {
    max-width: 300px;
  }
  .about__inner {
    width: 300px;
    margin-left: 0;
    margin-top: 0px;
    padding-bottom: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__content {
    width: 300px;
    margin-top: 40px;
  }
  .about__heading {
    font-size: 25px;
    letter-spacing: 1.7px;
    line-height: 33px;
    text-align: center;
    margin: 0 auto;
    width: 230px;
  }
  .about__text {
    margin: 0 auto;
    word-spacing: 1px;
    width: 280px;
    text-align: justify;
    margin-top: 23px;
    margin-left: 15px;
  }
  .about__img {
    margin: 0 auto;
    margin-top: 2.5rem;
  }
  .about__img__inner {
    width: 100%;
    height: 353px;
  }

  /* -------PETS------*/
  .pets {
    width: 320px;
    height: 791px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .pets .container {
    max-width: 300px;
  }
  .pets__heading {
    width: 300px;
    padding-top: 45px;
  }
  .pets__heading__inner {
    font-size: 25px;
    width: 300px;
    margin-left: 0;
    margin-bottom: 4px;
    letter-spacing: 0.1rem;
  }
  .pets .slider {
    width: 320px;
    margin-left: 0px;
    margin-top: 5px;
  }
  .pets .slider .slider__card {
    margin-top: 2.5rem;
    margin-left: 0;
  }
  .pets .slider__card {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .pets .slider__card768 {
    display: none;
  }
  .pets .slider__card320 {
    display: none;
  }
  .pets .slider__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 300px;
  }
  .pets .slider__btn {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 25px;
  }
  .pets .pets__btn {
    margin-top: 35px;
  }

  /* -------HELP------*/
  .help {
    margin-top: 0;
    padding-bottom: 215px;
  }
  .help__container {
    width: 300px;
  }
  .help__inner {
    margin-left: 0px;
  }
  .help__heading {
    font-size: 25px;
    letter-spacing: 0.1rem;
    line-height: 32px;
    width: 225px;
    margin-top: 40px;
  }
  .help__lists {
    margin-top: 40px;
    max-width: 280px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px 20px;
  }
  .help__list {
    width: 117px;
  }
  .help__list__text {
    font-size: 15px;
    width: 170px;
    margin-top: 20px;
  }
  .help__img {
    width: 50px;
  }
  .help__img__food {
    width: 40px;
    height: 50px;
  }
  .help__img__shampoos {
    width: 25px;
    height: 50px;
  }

  /* -------DONATION (IN ADDITION)------*/
  .donation {
    padding-top: 0;
    padding-bottom: 0px;
    width: 320px;
    height: 540px;
  }
  .donation .container {
    max-width: 300px;
  }
  .donation__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 41px;
    margin-left: 0;
    width: 300px;
  }
  .donation__heading {
    font-size: 25px;
    text-align: center;
    width: 220px;
    line-height: 2.1rem;
    letter-spacing: 0.1rem;
    margin: 0 auto;
  }
  .donation__subheading {
    font-size: 15px;
    letter-spacing: 0px;
    margin-left: 13px;
    margin-top: 20px;
    margin-bottom: 2.5rem;
  }
  .donation__img {
    margin-top: 6rem;
    margin-left: -65px;
  }
  .donation .credit__card {
    color: #f1cdb3;
  }
  .donation .credit__card__inner {
    font-size: 15px;
    letter-spacing: 0.05rem;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 60px;
    margin-left: 10px;
  }
  .donation .credit__card__inner::before {
    margin-left: 23px;
  }
  .donation__text {
    margin-left: 10px;
    text-align: justify;
    width: 280px;
  }
  .donation__img {
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 30px;
  }
  .donation__img__inner {
    width: 95%;
  }

  /* -------FOOTER------*/
  .footer {
    background-image: url(../assets/images/footer-gradient-background320.png);
    padding-top: 0px;
  }
  .footer__inner {
    width: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 27px 60px;
    padding-top: 0px;
  }
  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
  .footer .contact__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 0.1rem;
    margin-bottom: 27px;
  }
  .footer .contact__mail {
    width: 250px;
  }
  .footer .contact__phone {
    margin-top: 45px;
  }
  .footer .location__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    margin-left: 18px;
  }
  .footer .location__boston {
    margin-top: 42px;
  }
  .footer .location__boston__text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .location__london__text {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__img {
    margin-left: 0;
    margin-top: 0;
  }
  .footer__img__inner {
    width: 260px;
    height: 269px;
  }
}